html {
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
}

p {
    margin-top: 0;
    text-align: justify;
}

.a name {
    text-align: justify;
}

.passportlist {
    width: 900px;
}

.hiphopdances {
    width: auto
}
